TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_0_CLIENT_ID=
AUTH_0_CLIENT_SECRET=
AUTH_0_CALLBACK_URL=
AUTH_0_DOMAIN=